<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Comment</title>

  </head>
  <body>
    <p>
      <pre class="code"><!--
-->{% for c in comment.get_diff.0 %}<!--
        -->{% if c.0 == 'mod' %}<!--
        --><span style="background-color: red;">{{c.1|safe}}</span><!--
        -->{% else %}<!--
        -->{{c.1|safe}}<!--
        -->{% endif %}<!--
      -->{% endfor %}
      </pre>
    </p>

    <p>
      <pre class="code"><!--
-->{% for c in comment.get_diff.1 %}<!--
        -->{% if c.0 == 'mod' %}<!--
        --><span style="background-color: green;">{{c.1|safe}}</span><!--
        -->{% else %}<!--
        -->{{c.1|safe}}<!--
        -->{% endif %}<!--
      -->{% endfor %}
      </pre>
    </p>
  </body>
</html>
