{% extends "base.html" %}
{%block body%}
    <span>rating: {{ post.score }}
        <a href="/vote/post/{{post.id}}">{% if scored %}-{% else %}+{% endif %}</a>
    </span>
    <p><!--
    --><pre>{{post.code}}</pre>
    <a href="/add_comment/{{post.id}}">add comment</a>

    </p>
    <p>
      <i>{{post.description}}</i>
    </p>
    <ul>
      {% for c in active_comments %}
        <li><a href="/comment/{{c.id}}">-&gt;{{c.description}}</a> ({{c.score}})</li>
      {% endfor %}
    </ul>
{% endblock %}
